body {
background-color: #f0f0f0;
}

/* Custom container */
.container-narrow {
margin: 0 auto;
max-width: 700px;
background: url(/static/img/noisy_net.png) repeat 0 0;
}
.container-narrow > hr {
margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 400%;
line-height: 1;
padding-bottom: 32px;
padding-top: 16px;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

.jumbotron form button {
    margin-top: 32px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
text-align: center;
}
.marketing p + h4 {
margin-top: 28px;
}

/* Fonts */

h1, h2, h3, h4, h5 {
	font-family: 'Lobster Two', cursive;
	color: #efefef;
}

p {
    font-family: "Arial Narrow", Arial, sans-serif;
	color: #efefef;
	margin-left: 32px;
	margin-right: 32px;
}

input {
	width: 70%
}

select {
    width: 70%;
}

/* Error styles */

.errorlist {
    margin: 0px !important;
    padding-bottom: 6px;
}

.errorlist li {
    font-family: "Arial Narrow", Arial, sans-serif;
    list-style: none;
    color: red;
    font-size: 1.2em;

}


/* Slug links */

.slug a {
    color: #ffffff;
    font-size: 170%;
}

.red {
    color: #fe0000;
}

.orange {
    color: #fc6400;
}

.yellow {
    color: #fcfb00;
}

.green {
    color: #339800;
}

.blue {
    color: #00adfe;
}

.purple {
    color: #bc34fe;
}

.ui-slider-range { 
    background: #809CCB !important; 
}

.ui-slider {
    background: #809C3C !important
}

.ui-slider-handle {
    height: 35px !important;
}

/*#slider {
    margin-left: 20%;
    margin-right: 20%;
}*/