{% extends 'base.html' %}

{% block title %}helpfulpenguin.com 404{% endblock title %}

{% block content %}
      <div class="jumbotron">
        <h1>helpfulpenguin.com 404 error</h1>
        <p class="lead">
          The page you are looking for doesn't appear to exist. Maybe the link has expired?
        </p>

        <p>
          <a target='_blank' class="btn btn-large" href="/">
            <i class='icon-share'></i>
            Back to the homepage
          </a>
        </p>
      </div>
{% endblock content %}