<!DOCTYPE html>
<html>
  <head>
    <title>helpfulpenguin.com 500 Internal Server Error</title>
  </head>
<body>
        <h1>500 error!</h1>
        <h2>Opps, something is wrong on our end!</h2>
        <p>This error has been logged and I'll look at it as soon as I can!</p>

        <p>
          <a target='_blank' class="btn btn-large btn-success" href="/">
            Go back
          </a>
        </p>
        <p>
          <a target='_blank' class="btn" href="mailto:william.david.hunt+hp-error@gmail.com?subject=500%20error%20on%20helpfulpenguin.com&body=Please%20let%20me%20know%20what%20you%20were%20trying%20to%20do%20and%20I'll%20fix%20this%20ASAP">
            Email me
          </a>
        </p>
    {# Google Analytics #}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38359934-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>