<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}NO-TITLE{% endblock title %}</title>
    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" media="screen">
  </head>
<body>

    <div class="container-narrow">
        {% block content %}
        {% endblock content %}

      <div class="row-fluid footer">
        <p>Why don't you try my{% include 'bookmarklet.html' %}?
        </p>
        <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://helpfulpenguin.com" data-text="Make a url simple to say!" data-via="_wdh" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

&copy; William David Hunt 2013
</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.touch.punch.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $.backstretch('{{ STATIC_URL }}/img/background.jpg')
      })
    </script>

    {# Google Analytics #}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38359934-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
