{% extends 'base.html' %}

{% block title %}helpfulpenguin.com/{{ redirect.slug }}{% endblock title %}

{% block content %}
      <div class="jumbotron">
        <h1>helpfulpenguin.com</h1>
        <p class="lead">If you click the big green button, you will be taken to <a href="{{ redirect.url }}">{{ redirect.url }}</a></p>
        <p>Is that ok?</p>
        <p>
          <a target='_blank' class="btn btn-large btn-success" href="{{ redirect.url }}">
            <i class='icon-share-alt'></i>
            Yes, that sounds right!
          </a>
        </p>
        <p>
          <a href='/'>
            No, I don't want to go there
          </a>
        </p>
      </div>
{% endblock content %}